*.DS_Store
*.ico
*.jpg
*.keep
*.lock
*.md
*.png
*.scss
*.sh
*.svg
*.webmanifest
*.xml
*.yml

node_modules/*
.git/*

.babelrc
.eslintignore
.eslintrc
.gitignore
.prettierignore
.prettierrc.json
.scss-style.yml
.stylelintrc

