@import 'common';

#color-component {
  width: 100%;
  margin: 100px auto 150px 0;
}

#color-grid-component {
}

@media only screen and (max-width: 800px) {
  #color-component {
    margin: 100px auto;
  }

  #color-grid-component {
    width: 100%;
    overflow-x: scroll;
  }
}

@import 'components/color-grid';
@import 'components/color-editor';
@import 'components/color-export';
